apiVersion: apps/v1
kind: Deployment
metadata:
  name: celery-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: celery-worker
  template:
    metadata:
      labels:
        app: celery-worker
    spec:
      containers:
        - name: celery-worker
          image: getsocial-backend:latest
          imagePullPolicy: IfNotPresent
          command: ["celery", "-A", "config", "worker", "--loglevel=info"]
          envFrom:
            - configMapRef:
                name: getsocial-config
            - secretRef:
                name: getsocial-secrets
